body {
    margin:0;
    padding-top:50px;
}
form {
    border: 2px solid #ffc400;
    width: 600px;
    margin: 0 auto;
}
.form-group {
    margin:10px 0;
    display:flex;
    justify-content:center;
}
label {
    margin-right:10px;
}
.btn:hover {
    cursor:pointer;
    box-shadow:0 0 5px rgba(0, 148, 255, 1) ;
}